body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  background-color: #2b3743;
  font-family: "Nunito", sans-serif;
}

.result {
  font-size: 28px;
  margin-top: 10px;
}

footer {
  padding-top: 30px;
  text-align: center;
  display: flex;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer .icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
}

.icon svg {
  fill: tomato;
}

.card {
  padding: 25px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #27303d;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

label {
  width: 100%;
  color: #a9a9a9;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: medium;
}

label.error {
  padding: 0;
  margin: 0;
  color: #ff7f50;
  font-size: 12px;
  font-weight: 300;
  padding: 5px 0 0;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 450px;
  flex-direction: column;
}

.group-button {
  display: flex;
  grid-gap: 1.5rem;
}

.base-field {
  width: 100%;
  display: flex;
  padding: 0 0 10px 0;
  margin-bottom: 15px;
  flex-direction: column;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input {
  height: 40px;
  font-size: 16px;
  color: #e5e4e2;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: medium;
  transition: all 0.3s;
  box-sizing: border-box;
  border: 1px solid #414356;
  background-color: transparent;
  font-family: "Nunito", sans-serif;
}

input:hover {
  border-color: #5f6175;
}

input:focus {
  color: rgb(32, 45, 47);
  background-color: white;
}

input:disabled {
  color: #a9a9a9;
  cursor: not-allowed;
  background-color: #383a49;
}

.button {
  width: 50%;
  flex-grow: 1;
  height: 42px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s;
  box-sizing: border-box;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.submit {
  background-color: #226cfe;
}

.submit:hover {
  background-color: #0346cc;
}

.reset {
  background-color: #414356;
}

.reset:hover {
  background-color: white;
  color: #414356;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 340px;
  }

  .group {
    flex-direction: column;
    grid-gap: 0;
  }

  .result {
    font-size: 26px;
  }
}
